<template>
  <div>
    <div class="form-section">
      <el-form :model="adForm" :rules="rules" ref="form" @submit.native.prevent="submit">
        <el-form-item label="Texto" prop="text">
          <el-input type="textarea" v-model="adForm.text" placeholder="Nombre del colaborador"/>
        </el-form-item>
        <el-form-item>
          <el-button type="success" @click="submit()" v-html="'Guardar'"/>
        </el-form-item>
      </el-form>
    </div>

    <div class="list-container">
      <ad-item v-for="(ad, i) in ads" :key="'ad_'+i" :ad="ad" @click="remove(i)"/>
    </div>
  </div>
</template>

<script>
import adItem from './ad-item.vue'
export default {
  name: 'ads-list',

  components: {
    adItem
  },

  data() {
    return {
      adForm: {
        text: ''
      },
      rules: {
        text: [
          {
            required: true,
            message: 'Por favor escriba un nombre',
            trigger: 'blur'
          }
        ]
      }
    }
  },

  props: {
    ads: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    submit() {
      const form = this.$refs['form']
      form.validate(valid => {
        if (valid) {
          this.$emit('submit', `${this.adForm.text}`)
          this.adForm.text = ''
        }
      })
    },

    remove(index) {
      this.$emit('remove', index)
    }
  }
}
</script>

<style scoped lang="scss">
.list-container {
  padding: 0px 5% 0px 5%;
}
</style>