<template>
  <div v-if="sponsors.length>0">
    <el-row :gutter="10">
      <el-col :xs="12" :sm="8" :md="6" v-for="(sponsor, i) in sponsors" :key="'spnr_'+i" class="sponsor-card-row">
        <sponsor-card :sponsor="sponsor" @click.native="showSponsor(sponsor)" />
      </el-col>
    </el-row>
  </div>

  <div v-else class="no-items">
    <span>No hay registros</span>
  </div>
</template>

<script>
import SponsorCard from './sponsor-card.vue'
export default {
  name: 'sponsor-list',

  props: {
    sponsors: Array
  },

  components: {
    SponsorCard
  },

  methods: {
    showSponsor(data) {
      this.$emit('toggle', data)
    }
  }
}
</script>

<style scoped lang="scss">
.no-items {
  width: 100%;
  text-align: center;
}
.sponsor-card-row {
  height: 100% !important;
}
</style>