<template>
  <el-card class="sponsor-card" shadow="hover">
    <div slot="header">
      <ionicon name="person" size="20" color="#646464" />
      <strong>{{sponsor.name}}</strong>
    </div>
    <sponsor-items :sponsor="sponsor" />
  </el-card>
</template>

<script>
import ionicon from '@/components/ui/ionicon.vue'
import sponsorItems from '@/components/sponsor/items/sponsorItems.vue'

export default {
  name: 'sponsor-card',

  components: {
    ionicon,
    sponsorItems
  },

  props: {
    sponsor: Object
  }
}
</script>

<style scoped lang="scss">
.sponsor-card {
  cursor: pointer;
}
</style>
