<template>
  <div class="sponsor-form">
    <el-form ref="sponsor-form" :model="sponsorFrom" :rules="rules" label-width="120px">
      <el-form-item label="Nombre" prop="name">
        <el-input v-model="sponsorFrom.name" />
      </el-form-item>

      <el-form-item label="Dirección" prop="address">
        <el-input v-model="sponsorFrom.address" />
      </el-form-item>

      <el-form-item label="Teléfono" prop="phone">
        <el-input v-model="sponsorFrom.phone" />
      </el-form-item>

      <el-form-item label="Notas" prop="notes">
        <el-input type="textarea" v-model="sponsorFrom.notes" />
      </el-form-item>

      <el-form-item label="Está activo" prop="active">
        <el-switch v-model="sponsorFrom.active" />
      </el-form-item>

      <el-form-item>
        <el-button round type="success" @click="submitForm()">Guardar Patrocinador</el-button>
        <el-button round @click="cancelSubmit()">Cancelar</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { formRules } from '@/lib/form-rules'

export default {
  name: 'sponsor-form',

  data() {
    return {
      rules: {
        name: [formRules.required],
        address: [formRules.required],
        phone: [formRules.required],
        facebook: [formRules.required]
      },

      sponsorFrom: {
        active: true
      }
    }
  },

  methods: {
    submitForm() {
      const form = this.$refs['sponsor-form']
      form.validate(valid => {
        if (valid) {
          this.$emit('submit', this.sponsorFrom)
          form.resetFields()
        }
      })
    },

    cancelSubmit() {
      const form = this.$refs['sponsor-form']
      form.resetFields()
      this.$emit('toggle', false)
    }
  }
}
</script>

<style scoped lang="scss">
</style>
