<template>
  <div class="sponsor-modal">
    <el-dialog
      :title="title"
      :visible="value">
      <sponsor-form @submit="submitForm" @toggle="closeForm()" />
    </el-dialog>
  </div>
</template>

<script>
import SponsorForm from './sponsor-form.vue'
export default {
  name: 'sponsor-modal',

  props: {
    value: Boolean,
    title: String
  },

  components: {
    SponsorForm
  },

  methods: {
    submitForm(data) {
      this.$emit('submit', data)
    },

    closeForm() {
      this.$emit('input', false)
    }
  }
}
</script>

<style>
</style>
