<template>
  <el-card shadow="hover">
    <div slot="header">
      <ionicon name="video" />
      <strong v-html="ad.title" />
      <el-tag class="active-tag" size="small" type="ad.active? 'success':'danger'" v-html="ad.active? 'activo':'inactivo'" />
    </div>
    <div>
      <div class="ad-items">
        <div class="item">
          <ionicon name="podium" />
          <span v-if="ad.tier" class="item-text">Plan:
            <a @click="showTier(ad.tier)" v-html="ad.tier.name" /> - {{ad.tier.description}}
          </span>
        </div>
        <div class="item">
          <ionicon name="contact" />
          <span v-if="ad.sponsor" class="item-text">Patrocinador:
            <a @click="showSponsor(ad.sponsor)" v-html="ad.sponsor.name" />
          </span>
        </div>
        <div class="item">
          <ionicon name="calendar" />
          <span class="item-text">Emisión: {{ ad.start_date | moment("D MMM YYYY") }}</span>
        </div>
        <div class="item">
          <ionicon name="cash" />
          <span class="item-text">Proximo pago: {{ ad.start_date | moment("add", "30 days", "D MMM YYYY") }}</span>
        </div>
        <div class="item">
          <ionicon name="play" />
          <span class="item-text">Video: Ver video</span>
        </div>
      </div>
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'add-card',

  props: {
    ad: {
      type: Object,
      default: () => {}
    }
  },

  methods: {
    showSponsor(sponsor) {
      this.$router.push({ name: 'sponsor', params: { sponsor: sponsor } })
    },
    showTier(tier) {
      this.$router.push({ name: 'tier', params: { tier: tier.id } })
    }
  }
}
</script>

<style scoped lang="scss">
.el-card {
  cursor: pointer;
}

.active-tag {
  float: right;
}
.ad-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .item {
    min-width: 50%;
    padding: 5px 0 5px 0;
  }
  .item-text {
    padding: 0px 10px 0px 10px;
    a {
      color: rgb(117, 117, 206);
      cursor: pointer;
    }
    /* selected link */
    a:active {
      color: blue;
    }
  }
}
</style>