<template>
  <el-form ref="ad-form" :model="adForm" :rules="rules" label-width="120px">
    <!-- Form fields -->
    <el-form-item label="Título" prop="title">
      <el-input v-model="adForm.title" />
    </el-form-item>

    <el-form-item label="Patrocinador" prop="sponsor">
      <el-select v-model="adForm.sponsor" placeholder="selecciona el patrocinador">
        <el-option v-for="sponsor in sponsors" :key="sponsor.id" :label="sponsor.name" :value="sponsor" />
      </el-select>
    </el-form-item>

    <el-form-item label="Plan publicitario" prop="tier">
      <el-select v-model="adForm.tier" placeholder="selecciona el plan">
        <el-option v-for="tier in tiers" :key="tier.id" :label="tier.name" :value="tier" />
      </el-select>
    </el-form-item>

    <el-form-item label="Fecha de inicio" prop="start_date">
      <el-date-picker type="date" placeholder="Fecha de inicio" v-model="adForm.start_date" />
    </el-form-item>

    <el-form-item label="Archivo de video" prop="video_name">
      <el-input @click.native="promptFileLoad" readonly v-model="adForm.video_name" />
      <el-button type="text" @click="adForm.video_name = ''" v-html="'Quitar'" />
    </el-form-item>

    <el-form-item label="Comercial activo" prop="active">
      <el-switch v-model="adForm.active" />
    </el-form-item>

    <el-form-item class="submit-item">
      <el-button round type="primary" @click="submitForm()">Guardar</el-button>
      <el-button round @click="cancel()">Cancelar</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
const { dialog } = require('electron').remote
import { formRules } from '@/lib/form-rules'

export default {
  name: 'ad-form',

  props: {
    sponsors: {
      type: Array,
      default: () => []
    },
    tiers: {
      type: Array,
      default: () => []
    }
  },

  data() {
    return {
      rules: {
        title: formRules.required,
        start_date: formRules.required,
        sponsor: formRules.requiredSelect,
        tier: formRules.requiredSelect
      },

      adForm: {
        active: true
      }
    }
  },

  methods: {
    submitForm() {
      const form = this.$refs['ad-form']
      form.validate(valid => {
        if (valid) {
          this.$emit('submit', Object.assign({}, this.adForm))
          form.resetFields()
          this.cancel()
        }
      })
    },

    cancel() {
      this.$refs['ad-form'].resetFields()
      this.$emit('toggle', false)
    },

    promptFileLoad() {
      console.log('file load')
      dialog.showOpenDialog(
        {
          filters: [{ name: 'video', extensions: ['avi', 'wmv', 'mpg', 'mp4'] }]
        },
        result => {
          this.adForm.video_name = result[0]
        }
      )
    }
  }
}
</script>

<style scoped>
</style>