<template>
  <el-dialog :visible.sync="visible" title="Agregar un comercial" :before-close="handleClose">
    <ad-form @submit="submit" @toggle="handleClose" :sponsors="sponsors" :tiers="tiers" />
  </el-dialog>
</template>

<script>
import adForm from './ad-form.vue'

export default {
  name: 'ad-modal-form',

  components: {
    adForm
  },

  props: {
    visible: {
      type: Boolean,
      default: false
    },
    adModel: {
      type: Object,
      default: () => {}
    },
    sponsors: {
      type: Array,
      default: () => []
    },
    tiers: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    submit(data) {
      this.$emit('submit', data)
    },

    handleClose() {
      this.$emit('toggle')
    }
  }
}
</script>

<style scoped>
</style>