<template>
  <div class="ads-list" v-if="ads.length>0">
    <el-row :gutter="10">
      <el-col :xs="24" :sm="12" v-for="(ad, i) in ads" :key="'rw_'+i">
        <ad-card :ad="ad" :key="'ad_'+i" />
      </el-col>
    </el-row>
  </div>
  <div v-else class="no-items">
    <h3>No hay anuncios para mostrar</h3>
  </div>
</template>

<script>
import adCard from './ad-card.vue'

export default {
  name: 'ads-list',

  components: {
    adCard
  },

  props: {
    ads: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped>
</style>