<template>
  <div :class="setClass()">
    <div class="item-list">
      <ionicon name="call" color="#7676a0" />
      <span class="item-text" v-html="sponsor.phone" />
    </div>
    <div class="item-list">
      <ionicon name="map" color="#7676a0" />
      <span class="item-text" v-html="sponsor.address" />
    </div>
    <div class="item-list">
      <ionicon name="text" color="#7676a0" />
      <span class="item-text" v-html="sponsor.notes" />
    </div>
    <div class="item-list">
      <ionicon name="switch" color="#7676a0" />
      <span class="item-text" v-html="sponsor.active? 'activo':'inactivo'" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'sponsor-items',

  props: {
    sponsor: {
      type: Object,
      default: () => {}
    },
    display: {
      type: String,
      default: 'block'
    }
  },

  methods: {
    setClass() {
      if (this.display === 'flex') {
        return 'as-flex'
      } else if (this.display === 'block') {
        return 'as-block'
      }
    }
  }
}
</script>

<style scoped lang="scss">
span.item-text {
  padding-left: 10px;
}
.as-flex {
  display: flex;
  justify-content: space-between;
  .item-list {
    padding: 0px 20px 0px 20px;
  }
}
.as-block {
  .item-list {
    padding: 3px 0px 3px 0px;
  }
  display: block;
}
</style>