<template>
  <div>
  </div>
</template>

<script>
import PlaylistItem from './playlist-item.vue'
  export default {
    name: 'playlists-list',

    components: {
      PlaylistItem
    },

    
  }
</script>

<style scoped>

</style>