<template>
  <el-form @submit.prevent="submit()" >
    <el-form-item label="Titulo" prop="title">
      <el-input v-model="title" placeholder="Titulo de la lista" />
    </el-form-item>
    <el-form-item label="Videos" prop="videoItems">
      <file-input @input="setFiles"/>
    </el-form-item>
  </el-form>
</template>

<script>
import FileInput from '@/components/common/file-input.vue'
export default {
  name: 'playlist-form',

  components: {
    FileInput
  },

  data() {
    return {
      videoItems: [],
      title: ''
    }
  },

  methods: {
    setFiles(files) {
      this.videoItems = files
    },

    submit() {
      if (this.videoItems.length > 0) {
        this.$emit('submit', { videoItems: this.videoItems, title: title })
      }
    }
  }
}
</script>

<style scoped>
</style>