<template>
  <div class="page">
    <ads-list :ads="ads" />
    <ad-modal-form :visible="showModal" @submit="createAd" @toggle="showModal=false" :sponsors="sponsors" :tiers="tiers" />
  </div>
</template>

<script>
import { Ad, Sponsor, Tier } from '@/database/models'
import adsList from '@/components/ads/ads-list.vue'
import adModalForm from '@/components/ads/ad-modal-form.vue'

export default {
  data() {
    return {
      ads: [],
      sponsors: [],
      tiers: [],
      showModal: false
    }
  },

  components: {
    adsList,
    adModalForm
  },

  methods: {
    getAds() {
      Ad.findAll({
        include: [{ model: Sponsor }, { model: Tier }]
      })
        .then(res => {
          this.ads = res
        })
        .catch(err => {
          console.log(err)
          this.$notify.error({
            title: 'Error',
            message: 'No se pudieron obtener los datos'
          })
        })
    },

    getSponsors() {
      Sponsor.findAll()
        .then(res => {
          this.sponsors = res
        })
        .catch(err => console.log(err))
    },

    getTiers() {
      Tier.findAll()
        .then(tiers => {
          this.tiers = tiers
        })
        .catch(err => {
          console.log(err)
        })
    },

    /**
     * Save the new Ad in database
     */
    createAd(data) {
      const newAd = Ad.build(data, {
        fields: ['title', 'start_date', 'video_name', 'active']
      })

      newAd
        .save()
        .then(ad => {
          return data.sponsor.setAds([newAd])
        })
        .then(ad => {
          return newAd.setTier(data.tier)
        })
        .then(ad => {
          console.log(ad)
          this.getAds()
        })
        .catch(err => console.log(err))
    },

    /**
     * Init navbar actions
     */
    initNavActions() {
      const actions = [
        {
          icon: 'add',
          description: 'Agregar un nuevo comercial',
          action: () => (this.showModal = true)
        },
        {
          icon: 'paper',
          description: 'Planes publicitarios',
          action: () => this.$router.push('/tiers')
        }
      ]
      this.$store.commit('setNavbarActions', actions)
    }
  },

  mounted() {
    this.initNavActions()
    this.getAds()
    this.getTiers()
    this.getSponsors()
  },

  beforeDestroy() {
    this.$store.dispatch('removeNavbarActions')
  }
}
</script>

<style scoped>
</style>