<template>
  <div class="home page">
    <h1>Inicio</h1>
    <div class="cards-container">
      <el-card 
        v-for="shortcut in shortcuts" 
        :key="shortcut.text" 
        shadow="hover"
        @click.native="triggerShortcut(shortcut.path)">
        <h3 v-html="shortcut.text" />
        <ionicon :name="shortcut.icon" size="70" color="#01579B" />
      </el-card>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'home',
  computed: mapState({
    currentUser: state => state.currentUser
  }),

  data() {
    return {
      activeTab: 'tiers',
      shortcuts: [
        {
          text: 'Patrocinadores',
          path: '/sponsors',
          icon: 'contacts'
        },
        {
          text: 'Anuncios',
          path: '/ads',
          icon: 'megaphone'
        },
        {
          text: 'Cinta',
          path: '/ticker',
          icon: 'list'
        },
        {
          text: 'Programacion',
          path: '/scheduler',
          icon: 'timer'
        }
      ]
    }
  },

  methods: {
    triggerShortcut(path) {
      this.$router.push(path)
    }
  },
}
</script>

<style lang="scss" scoped>
.home {
  .cards-container {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .el-card {
      text-align: center;
      width: 30%;
      min-height: 200px;
      margin: 5px;
    }
  }
}
</style>

