<template>
  <div id="login-view">
    <login-form @submit="doLogin" />
  </div>
</template>

<script>
import LoginForm from '../components/login/login-form.vue'
import { User } from '@/database/models/'
import { compareHashes } from '../lib/crypto.js'

export default {
  components: {
    LoginForm
  },

  methods: {
    doLogin(data) {
      console.log(User)
      // Retrieve user
      User.findOne({
        where: { username: data.username },
        attributes: ['id', 'passwordDigest', 'username']
      }).then(res => {
        console.log(res)
        const user = res.get()
        if (this.testPassword(data.password, user.passwordDigest)) {
          this.storeLoggedUser(user.id)
        } else {
          console.error('Fails')
        }
      })
    },

    testPassword(text, hash) {
      return compareHashes(text, hash)
    },

    storeLoggedUser(id) {
      User.findOne({
        where: { id: id }
      })
        .then(res => {
          const user = res.get()
          this.$store.commit('setCurrentUser', user)
          this.$router.push('/home')
        })
        .catch(err => {
          this.$notify.error({
            title: 'Error',
            message: 'Usuario o contraseña inválidos'
          })
          console.log(err)
        })
    }
  }
}
</script>

<style scoped lang="scss">
#login-view {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7986cb;
  background: -moz-linear-gradient(-45deg, #7986cb 3%, #e91e63 100%);
  background: -webkit-linear-gradient(-45deg, #7986cb 3%, #e91e63 100%);
  background: linear-gradient(135deg, #7986cb 3%, #e91e63 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7986cb', endColorstr='#e91e63',GradientType=1 );
}
</style>
