<template>
  <div>
    <playlists-list />
    <el-dialog
      title="Crear lista"
      width="60%"
      :visible.sync="modalForm">
      <playlist-form />
    </el-dialog>
  </div>
</template>

<script>
import FileManager from '../lib/file-manager'
import PlaylistsList from '@/components/playlists/playlists-list.vue'
import PlaylistForm from '@/components/playlists/playlist-form.vue'
const fileManager = new FileManager()
const playlistsPath = fileManager.setFilePath('userData', 'playlists.json')

export default {
  name: 'Playlists',

  data() {
    return {
      playlists: [],
      modalForm: false
    }
  },

  components: {
    PlaylistsList,
    PlaylistForm
  },

  methods: {
    readPlaylists() {
      fileManager
        .readFile(playlistsPath)
        .then(playlists => {
          this.playlists = JSON.parse(playlists) || []
        })
        .catch(err => {
          console.log(err)
        })
    },

    writePlaylists() {
      fileManager
        .writeFile(playlistsPath, JSON.stringify(this.playlists))
        .then(result => {
          console.log(result)
        })
        .catch(err => {
          console.log(err)
        })
    },

    setNavActions() {
      const actions = [
        {
          icon: 'add',
          description: 'Agregar una Lista',
          action: () => (this.modalForm = true)
        }
      ]
      this.$store.commit('setNavbarActions', actions)
    }
  },

  mounted() {
    this.setNavActions()
  }
}
</script>

<style scoped>
</style>