<template>
  <div class="page">
    <h1>Programador de Comerciales</h1>

    <div class="scheduler-container">
      <div class="section">
        <h3>Listas</h3>
      </div>
      <div class="section">
        <h3>Intervalo: {{ getMinutesCount(time) }} minutos</h3>
        <el-select v-model="time" placeholder="Intervalo (Minutos)">
          <el-option label="60 Minutos" :value="3600000" />
          <el-option label="120 Minutos" :value="7200000" />
        </el-select>
        <p>
          <el-button @click="setAdsInterval()" v-html="'Iniciar Temporizador'" />
          <el-button v-if="adInterval" type="danger" @click="stopInterval" v-html="'Detener Programación'" />
        </p>
      </div>
    </div>

    <div>
      <h3>Reproducciones del dia</h3>
      <transition-group name="list" tag="ul">
        <li v-for="(rep, i) in adReproductions" :key="'reg_'+i">
          {{ rep | moment("h:mm:ss a") }}
        </li>
      </transition-group>
      <div v-if="adReproductions.length < 1">
        <span class="no-results">No hay Reproducciones</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "scheduler",

  computed: mapState({
    adReproductions: state => state.adReproductions,
    adInterval: state => state.adInterval
  }),

  data() {
    return {
      time: 3600000
    };
  },

  methods: {
    setAdsInterval() {
      const interval = setInterval(() => {
        this.toggleAds();
        //console.log('ke ase')
        //this.$store.dispatch('regiterReproduction')
      }, this.time);

      this.$store.commit("setAdInterval", interval);
      console.log(this.adInterval);
    },

    toggleAds() {
      fetch("http://127.0.0.1:8088/api/?Function=KeyPress&Value=NumPad5")
        .then(res => {
          console.log(res);
          this.$store.dispatch("regiterReproduction");
        })
        .catch(err => console.log(err));
    },

    stopInterval() {
      this.$store.commit("stopAdInterval");
    },

    getMinutesCount(ms) {
      return Math.floor((ms / 1000 / 60) << 0);
    },

    setNavActions() {
      const actions = [
        {
          icon: "list",
          description: "Agregar una Lista",
          action: () => (this.$router.push('/playlists'))
        }
      ];
      this.$store.commit("setNavbarActions", actions);
    }
  },

  mounted() {
    this.setNavActions()
  },

  beforeDestroy() {
    this.$store.dispatch('removeNavbarActions')
    clearInterval(this.adInterval);
  }
};
</script>

<style scoped lang="scss">
.no-results {
  color: rgb(190, 190, 190);
}
ul {
  li {
    cursor: pointer;
    padding: 5px 0px 5px 0px;
    transition: 0.3s;
    &:hover {
      background-color: rgb(231, 231, 231);
    }
  }
}
.scheduler-container {
  display: flex;
  flex-direction: row;
  .section {
    width: 50%;
  }
}
</style>