<template>
  <div id="sponsor-page" class="page">
    <div class="header">

      <el-card shadow="none">
        <div class="flex-body">
          <div class="avatar">
            <ionicon name="person" color="#646464" size="60" />
          </div>
          <div class="details">
            <h2 v-html="sponsor.name" />
            <sponsor-items :sponsor="sponsor" display="flex" />
          </div>
        </div>
      </el-card>

      <el-tabs v-model="activeTab">
        <el-tab-pane label="Anuncios" name="ads">
          <ads-list :ads="[]" />
        </el-tab-pane>
      </el-tabs>

    </div>
  </div>
</template>

<script>
import sponsorItems from '@/components/sponsor/items/sponsorItems.vue'
import adsList from '@/components/ads/ads-list.vue'
export default {
  name: 'sponsor',

  components: {
    sponsorItems,
    adsList
  },

  data() {
    return {
      sponsor: {},
      activeTab: 'ads'
    }
  },

  mounted() {
    this.sponsor = this.$route.params.sponsor
  }
}
</script>

<style scoped lang="scss">
#sponsor-page {
  .flex-body {
    display: flex;
    align-items: center;
    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 10px 0px 10px;
    }
  }
}
</style>