<template>
  <div id="sponsors-page" class="page">
    <sponsor-list :sponsors="sponsors" @toggle="showSponsor" />
    <sponsor-modal v-model="showModal" title="Agregar Patrocinador" @submit="createSponsor" />
  </div>
</template>

<script>
import SponsorList from '@/components/sponsor/sponsor-list.vue'
import SponsorModal from '@/components/sponsor/sponsor-modal.vue'
import { Sponsor } from '@/database/models'

export default {
  components: {
    SponsorList,
    SponsorModal
  },

  data() {
    return {
      sponsors: [],
      showModal: false
    }
  },

  methods: {
    getSponsors() {
      Sponsor.findAll()
        .then(res => {
          this.sponsors = res
        })
        .catch(err => {
          this.$notify.error({
            title: 'Error',
            message: 'No se pudieron obtener los datos'
          })
          console.log(err)
        })
    },

    /**
     * create a new Sponsor
     */
    createSponsor(data) {
      Sponsor.create(data)
        .then(sponsor => {
          this.sponsors.push(sponsor.get())
          this.showModal = false
        })
        .catch(err => {
          this.$notify.error({
            title: 'Error',
            message: 'No se pudo guardar el registro'
          })
          console.log(err)
        })
    },

    /**
     * Open a page for sponsor
     */
    showSponsor(data) {
      this.$router.push({
        name: 'sponsor',
        params: { sponsor: data }
      })
    },

    setNavActions() {
      const actions = [
        {
          icon: 'add',
          description: 'Agregar un patrocinador',
          action: () => (this.showModal = true)
        },
        {
          icon: 'search',
          description: 'Buscar',
          action: () => console.log('search action')
        }
      ]
      this.$store.commit('setNavbarActions', actions)
    }
  },

  mounted() {
    this.getSponsors()
    this.setNavActions()
  },

  beforeDestroy() {
    this.$store.dispatch('removeNavbarActions')
  }
}
</script>

<style>
#sponsors-page {
  width: 100%;
}
</style>
