<template>
<div class="page">
    <el-tabs v-model="activeTab">
    <el-tab-pane label="Colaboradores" name="donors">
      <div class="ticker-page page">
        <donors-list :donors="ticker.donors" @submit="addDonor" @remove="removeDonor"/>
      </div>
    </el-tab-pane>

    <el-tab-pane label="Anuncios" name="advertisements">
      <ad-list :ads="ticker.advertisements" @submit="addAds" @remove="removeAd"/>
    </el-tab-pane>

    <el-tab-pane label="Noticias" name="news">
      <news-list :news="ticker.news" @submit="addNews" @remove="removeNew"/>
    </el-tab-pane>

  </el-tabs>
</div>
</template>

<script>
import donorsList from '@/components/ticker/donors/donors-list.vue'
import adList from '@/components/ticker/ads/ads-list.vue'
import newsList from '@/components/ticker/news/news-list.vue'
import { read, write } from '@/lib/ticker-manager'

export default {
  name: 'ticker',

  components: {
    donorsList,
    adList,
    newsList
  },

  data() {
    return {
      ticker: {
        donors: [],
        news: [],
        advertisements: []
      },
      activeTab: 'donors'
    }
  },

  methods: {
    addDonor(data) {
      this.ticker.donors.push(data)
      this.writeTicker()
    },

    addNews(data) {
      this.ticker.news.push(data)
      this.writeTicker()
    },

    addAds(data) {
      this.ticker.advertisements.push(data)
      this.writeTicker()
    },

    writeTicker() {
      write('ticker.json', JSON.stringify(this.ticker))
      this.buildTickerString()
    },

    /**
     * Read the ticker from Database
     */
    readTicker() {
      read('ticker.json')
        .then(ticker => {
          const file = JSON.parse(ticker)
          this.ticker.donors = file.donors || []
          this.ticker.news = file.news || []
          this.ticker.advertisements = file.advertisements || []
          this.buildTickerString()
        })
        .catch(err => {
          console.log(err)
        })
    },

    /**
     * Generate a string usable by vMix
     */
    buildTickerString() {
      let donors = this.ticker.donors.map(text => {
        return ` ${text}`
      })
      let news = this.ticker.news.map(text => {
        return ` ${text}`
      })
      let ads = this.ticker.advertisements.map(text => {
        return ` ${text}`
      })

      const tickerString = `//VP// PATROCINADORES:${donors} //VP// ANUNCIOS:${ads} //VP// ${this.ticker.news.length > 0? 'NOTICIAS:': ''}${news}`
      write('cintaVP.txt', tickerString)
    },

    /**
     * Remove ads by index
     */
    removeAd(index) {
      this.ticker.advertisements.splice(index, 1)
      this.writeTicker()
    },

    removeDonor(index){
      this.ticker.donors.splice(index, 1)
      this.writeTicker()
    },

    removeNew(index){
      this.ticker.news.splice(index, 1)
      this.writeTicker()
    }
  },

  mounted() {
    this.readTicker()
  }
}
</script>

<style scoped lang="scss">
</style>