<template>
  <div class="page">
    <tier-form :tierModel="tier" @submit="updateTier" :auto-clear="false" />
  </div>
</template>

<script>
import tierForm from '@/components/tiers/tier-form.vue'
import { Tier } from '@/database/models'

export default {
  name: 'tier',

  data() {
    return {
      tier: {},
      tierModel: {}
    }
  },
  components: {
    tierForm
  },

  methods: {
    updateTier(data) {
      this.tierModel
        .update(data, { fields: ['name', 'price', 'mentions', 'description'] })
        .then(res => {
          this.$notify.success({
            title: 'Actualizado',
            message: 'Se guardaron los cambios con éxito'
          })
          this.$router.go(-1)
        })
        .catch(err => {
          console.log(err)
          this.$notify.error({
            title: 'Error',
            message: 'No se pudo guardar el registro'
          })
        })
    }
  },

  mounted() {
    Tier.findOne({ where: { id: this.$route.params.tier } })
      .then(res => {
        this.tier = res.get({ plain: true })
        this.tierModel = res
        this.$route.meta.title = `Plan Publicitario: ${this.tier.name}`
        //fix number inputs
        this.tier.price = String(this.tier.price || 0)
        this.tier.mentions = String(this.tier.mentions || 0)
      })
      .catch(err => {
        console.log(err)
      })
  }
}
</script>

<style scoped lang="scss">
.page {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>