<template>
  <div class="page">
    <tiers-list :tiers="tiers" @selected="showTier" />
    <tier-modal-form :visible="showModal" @toggle="handleModalClose" @submit="submitTierForm" />
  </div>
</template>

<script>
import { Tier } from '@/database/models'
import tierModalForm from '@/components/tiers/tier-modal-form.vue'
import tiersList from '@/components/tiers/tiers-list.vue'

export default {
  name: 'tiers',

  components: {
    tierModalForm,
    tiersList
  },

  data() {
    return {
      showModal: false,
      tiers: []
    }
  },

  methods: {
    /**
     * Handle form submit
     * @param {Object} data - Data from form submit
     */
    submitTierForm(data) {
      Tier.create(data)
        .then(res => {
          this.tiers.push(res)
          // notify success
          this.$notify.success({
            title: 'Creado',
            message: 'Se guardó el registro'
          })
        })
        .catch(err => {
          // notify error
          this.$notify.error({
            title: 'Error',
            message: 'No se pudo guardar el registro'
          })
          console.log(err)
        })
    },

    /**
     * Handle edit submition
     */
    showTier(data) {
      this.$router.push({ name: 'tier', params: { tier: data.id } })
    },

    /**
     * Get tiers from database
     */
    getTiers() {
      Tier.findAll()
        .then(res => {
          this.tiers = res
        })
        .catch(err => {
          this.$notify.error({
            title: 'Error',
            message: 'No se pudieron obtener los datos'
          })
          console.log(err)
        })
    },

    handleModalClose() {
      this.showModal = false
      this.selectedTier = {}
    },

    /**
     * Init navbar actions
     */
    initNavActions() {
      const actions = [
        {
          icon: 'add',
          description: 'Agregar un nuevo plan',
          action: () => {
            this.showModal = true
            this.selectedTier = {}
          }
        }
      ]
      this.$store.commit('setNavbarActions', actions)
    }
  },

  mounted() {
    this.initNavActions()
    this.getTiers()
  },

  beforeDestroy() {
    this.$store.dispatch('removeNavbarActions')
  }
}
</script>

<style scoped>
</style>