<template>
  <div>
    <div class="form-section">
      <el-form :model="newForm" :rules="rules" ref="form" @submit.native.prevent="submit">
        <el-form-item label="Texto" prop="text">
          <el-input type="textarea" v-model="newForm.text" placeholder="Texto de la noticia"/>
        </el-form-item>
        <el-form-item>
          <el-button type="success" @click="submit()" v-html="'Guardar'"/>
        </el-form-item>
      </el-form>
    </div>

    <div class="list-container">
      <news-item v-for="(notice,i) in news" :key="'notice_'+i" :news="notice" @click="remove" />
    </div>
  </div>
</template>

<script>
import newsItem from './news-item.vue'
export default {
  name: 'news-list',

  components: {
    newsItem
  },

  data() {
    return {
      newForm: {
        text: ''
      },
      rules: {
        text: [
          {
            required: true,
            message: 'Por favor escriba un nombre',
            trigger: 'blur'
          }
        ]
      }
    }
  },

  props: {
    news: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    submit() {
      const form = this.$refs['form']
      form.validate(valid => {
        if (valid) {
          this.$emit('submit', this.newForm.text)
        }
      })
    },

    remove(index) {
      this.$emit('remove', index)
    }
  }
}
</script>

<style scoped lang="scss">
.list-container {
  padding: 0px 5% 0px 5%;
}
</style>