<template>
  <div class="tier-details">
    <div class="item">
      <ionicon name="cash" :color="color" />
      <span v-html="'C$' + tier.price" />
    </div>

    <div class="item">
      <ionicon name="megaphone" :color="color" />
      <span v-html="tier.mentions" />
    </div>

    <div class="item">
      <ionicon name="paper" :color="color" />
      <span v-html="tier.description" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'tier-details',

  props: {
    tier: {
      type: Object,
      default: () => {}
    }
  },

  data() {
    return {
      color: '#7676a0'
    }
  }
}
</script>

<style scoped lang="scss">
.tier-details {
  display: flex;
  flex-wrap: wrap;
  .item {
    min-width: 50%;
    padding: 5px 0 5px 0;
    span {
      padding: 0px 10px 0px 10px;
    }
  }
}
</style>