<template>
  <div class="tiers-list">

    <el-row :gutter="10">

      <el-col :xs="24" :sm="8" :md="6" v-for="tier in tiers" :key="'tier_'+tier.id">
        <tier-card :tier="tier" @click.native="selectTier(tier)" />
      </el-col>

    </el-row>

  </div>
</template>

<script>
import tierCard from '@/components/tiers/tier-card'

export default {
  name: 'tiers-list',

  props: {
    tiers: {
      type: Array,
      default: () => []
    }
  },

  components: {
    tierCard
  },

  methods: {
    showTier(tier) {
      this.$emit('click', tier.get({ plain: true }))
    },

    selectTier(tier) {
      this.$emit('selected', tier.get({ plain: true }))
    }
  }
}
</script>

<style scoped>
</style>