<template>
  <div>
    <el-form ref="tier-form" :model="tierForm" :rules="rules" label-width="120px">
      <!-- Form fields -->
      <el-form-item label="Nombre" prop="name">
        <el-input v-model="tierForm.name" />
      </el-form-item>

      <el-form-item label="Precio (C$)" prop="price">
        <el-input type="number" v-model="tierForm.price" />
      </el-form-item>

      <el-form-item label="Menciones" prop="mentions">
        <el-input type="number" v-model="tierForm.mentions" />
      </el-form-item>

      <el-form-item label="Descripción" prop="description">
        <el-input type="textarea" v-model="tierForm.description" />
      </el-form-item>

      <el-form-item class="submit-item">
        <el-button round type="primary" @click="submitForm()">Guardar</el-button>
        <el-button round @click="cancel()">Cancelar</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { formRules } from '@/lib/form-rules'

export default {
  name: 'tier-form',

  props: {
    tierModel: {
      type: Object,
      default: () => {}
    }
  },

  data() {
    return {
      rules: {
        name: formRules.required,
        description: formRules.required,
        price: [formRules.required],
        mentions: [formRules.required],
        hours: formRules.required
      },

      tierForm: {}
    }
  },

  methods: {
    submitForm() {
      const form = this.$refs['tier-form']
      form.validate(valid => {
        if (valid) {
          this.$emit('submit', this.tierForm)
          form.resetFields()
          this.cancel()
        }
      })
    },

    cancel() {
      this.$refs['tier-form'].resetFields()
      this.$emit('toggle', false)
    }
  },

  watch: {
    tierModel() {
      this.tierForm = Object.assign({}, this.tierModel)
    }
  }
}
</script>

<style scoped>
</style>