<template>
  <el-dialog :visible.sync="visible" :title="'Agregar un Plan Publicitario'" :before-close="handleClose">
    <tier-form @submit="submit" @toggle="handleClose" />
  </el-dialog>
</template>

<script>
import tierForm from './tier-form.vue'

export default {
  name: 'tier-modal-form',

  components: {
    tierForm
  },

  props: {
    visible: {
      type: Boolean,
      default: false
    },
    tier: {
      type: Object,
      default: () => {}
    }
  },

  methods: {
    submit(data) {
      this.$emit('submit', data)
    },

    handleClose() {
      this.$emit('toggle')
    }
  }
}
</script>

<style scoped>
</style>