<template>
  <el-card shadow="hover">
    <div slot="header">
      <strong v-html="tier.name" />
    </div>
    <!-- Content -->
    <tier-detail :tier="tier" />
  </el-card>
</template>

<script>
import tierDetail from './tier-details.vue'

export default {
  name: 'tier-card',

  components: {
    tierDetail
  },

  props: {
    tier: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>
.el-card {
  cursor: pointer;
}
</style>