<template>
  <div class="file-input">
    <div>
      <el-button type="primary" icon="el-icon-upload" @click="openFilePrompt">
        Cargar videos
      </el-button>
    </div>
    <ul class="file-list">
      <li v-for="(file, i) in files" :key="'file_'+i" class="file-item">
        <span v-text="file"/>
        <el-button type="danger" icon="el-icon-delete" @click="removeFile(i)"/>
      </li>
    </ul>
  </div>
</template>

<script>
import FileManager from '../../lib/file-manager'
const { dialog } = require('electron').remote

export default {
  name: 'file-input',

  props: {
    value: {
      type: Array,
      default: () => []
    },

    filters: {
      type: Array,
      default: () => [
        { name: 'video', extensions: ['avi', 'wmv', 'mpg', 'mp4'] }
      ]
    }
  },

  data() {
    return {
      files: []
    }
  },

  methods: {
    openFilePrompt() {
      dialog.showOpenDialog(
        {
          properties: ['multiSelections'],
          filters: this.filters
        },
        results => {
          this.files = results
          this.sendFiles()
        }
      )
    },

    sendFiles() {
      this.$emit('input', this.files)
    },

    removeFile(index) {
      this.files.splice(index, 1)
      this.sendFiles()
    }
  }
}
</script>

<style scoped lang="scss">
.file-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  .file-list {
    text-align: left;
    list-style-position: inside;
    padding-left: 0px;
    width: 100%;
    .file-item {
      padding: 5px 2px 5px 8px;
      border-radius: 3px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: flex-start;
      transition: 0.3s;
      &:hover {
        background-color: #dddcdc;
      }
    }
  }
}
</style>