<template>
  <div class="text-item">
    <span v-html="donor"/>
    <el-button size="mini" type="danger" @click="remove" v-html="'Eliminar'" />
  </div>
</template>

<script>
export default {
  name: 'donor-item',

  props: {
    donor: {
      type: String,
      default: ''
    }
  },

  methods: {
    remove() {
      this.$emit('click')
    }
  },
}
</script>

<style scoped lang="scss">
.text-item {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: rgb(221, 220, 220);
  padding: 5px 0px 5px 0px;
  &:last-child {
    border-color: transparent;
  }
  span {
    width: 100%
  }
}
</style>