<template>
  <div>
    <div class="form-section">
      <el-form :model="donorForm" :rules="rules" :inline="true" ref="form" @submit.native.prevent="submit">
        <el-form-item label="Nombre" prop="name">
          <el-input v-model="donorForm.name" placeholder="Nombre del colaborador"/>
        </el-form-item>
        <el-form-item>
          <el-button type="success" @click="submit()" v-html="'Guardar'"/>
        </el-form-item>
      </el-form>
    </div>

    <div class="list-container">
      <donor-item v-for="(donor, i) in donors" :key="'donor_'+i" :donor="donor" @click="remove(i)"/>
    </div>
  </div>
</template>

<script>
import donorItem from './donor-item.vue'
export default {
  name: 'donors-list',

  components: {
    donorItem
  },

  data() {
    return {
      donorForm: {
        name: ''
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Por favor escriba un nombre',
            trigger: 'blur'
          }
        ]
      }
    }
  },

  props: {
    donors: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    submit() {
      const form = this.$refs['form']
      form.validate(valid => {
        if (valid) {
          this.$emit('submit', this.donorForm.name)
          form.resetFields()
        }
      })
    },

    remove(index){
      this.$emit('remove', index)
    }
  }
}
</script>

<style scoped lang="scss">
.list-container {
  padding: 0px 5% 0px 5%;
}
</style>