<template>
  <div class="login-form">
    <div class="logo-container">
      <!-- <img class="logo" :src="require('@/assets/ebook.svg')" alt=""> -->
      <h3>Iniciar Sesión</h3>
    </div>
    <!-- FORM -->
    <el-form ref="login-form" :model="loginForm" :rules="rules">
      <el-form-item v-if="value">
        <el-alert title="Usuario o Contraseña incorrectos" type="warning" :closable="false" :close="closeAlert()" :show-icon="true"/>
      </el-form-item>
      <!-- Form fields -->
      <el-form-item label="Usuario" prop="username">
        <el-input name="username" v-model="loginForm.username"></el-input>
      </el-form-item>
      <el-form-item label="Contraseña" prop="password">
        <el-input name="password" type="password" auto-complete="off" v-model="loginForm.password"></el-input>
      </el-form-item> 
      <el-form-item class="submit-item">
        <el-button round type="primary" @click="submitLogin()">Iniciar Sesión</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'login-form',

  props: {
    value: Boolean
  },

  data() {
    return {
      rules: {
        username: [
          { required: true, message: 'Campo requerido', trigger: 'blur' }
        ],
        password: [
          { required: true, message: 'Campo requerido', trigger: 'blur' }
        ]
      },

      loginForm: {
        username: '',
        password: '',
        rememberme: false
      }
    }
  },

  methods: {
    submitLogin() {
      const form = this.$refs['login-form']
      form.validate(valid => {
        if (valid) {
          this.$emit('submit', this.loginForm)
        }
      })
    },

    closeAlert() {
      this.$emit('toggle', false)
    }
  }
}
</script>

<style scoped lang="scss">
.login-form {
  min-height: 340px;
  background-color: white;
  border-radius: 10px;
  padding: 3%;
  color: rgb(71, 71, 71);
  text-align: left;
  .logo-container {
    text-align: center;
    img.logo {
      width: auto;
      height: 90px;
    }
  }
  .submit-item {
    text-align: center;
  }
  -webkit-box-shadow: 0px 0px 27px 6px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 27px 6px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 27px 6px rgba(0, 0, 0, 0.39);
}
</style>
