<template>
  <div id="app">
    <navbar v-if="!$route.meta.public" :user="currentUser.username" :page="$route.meta.title" />
    <sidenav v-if="!$route.meta.public" />
    <div :class="{'app-body': !$route.meta.public}">
      <router-view />
    </div>
  </div>
</template>

<script>
import NavBar from './components/ui/navbar.vue'
import SideNav from './components/ui/sidenav.vue'
import { mapState } from 'vuex'
import Ionicon from './components/ui/ionicon.vue'

export default {
  name: 'app',

  computed: mapState({
    currentUser: state => state.currentUser
  }),

  components: {
    navbar: NavBar,
    sidenav: SideNav,
    Ionicon
  }
}
</script>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  .app-body {
    padding-top: 50px;
    padding-left: 60px;
    display: flex;
  }
  .page {
    width: 100%;
    padding: 1%;
  }
}
body {
  font-family: Helvetica;
  margin: 0px;
}
.el-col {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
</style>
