<template>
  <i :class="['icon', classBuilder()]" :style="{
      'font-size': `${size}pt`,
      'color': color
      }">
  </i>
</template>

<script>
import '@/assets/css/ionicons.css'

export default {
  name: 'ionicon',
  props: {
    variant: {
      type: String,
      default: 'ios'
    },
    size: {
      type: [Number, String],
      default: 12
    },
    color: {
      type: String,
      default: '#2b2b2b'
    },
    name: String
  },

  methods: {
    classBuilder() {
      if (this.variant === 'ios') {
        return `ion-ios-${this.name}`
      } else if (this.variant === 'md') {
        return `ion-md-${this.name}`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
i {
  line-height: 0;
}
</style>
