<template>
  <div class="menu-item" @click="emitClick()">
    <a>
      <ionicon :name="icon" color="white" :size="18"/>
    </a>
  </div>
</template>

<script>
import Ionicon from '@/components/ui/ionicon.vue'

export default {
  name: 'menu-item',

  components: {
    Ionicon
  },

  props: {
    icon: String,
    to: {
      type: String,
      default: ''
    }
  },

  methods: {
    emitClick() {
      if (this.to !== '') {
        this.$router.push(this.to)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.menu-item {
  transition: 0.3s;
  cursor: pointer;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
  }
}
.menu-item:hover {
  background-color: rgba(110, 24, 60, 0.384);
}
.menu-item:active {
  background-color: rgba(90, 18, 46, 0.555);
}
</style>
