<template>
  <el-tooltip class="item" effect="dark" :content="description" placement="bottom">
    <a @click="action" class="navbar-action-item">
      <ionicon :name="icon" color="white" :size="16" />
    </a>
  </el-tooltip>
</template>

<script>
import ionicon from '@/components/ui/ionicon.vue'

export default {
  name: 'navbar-action-item',

  components: {
    ionicon
  },

  props: {
    icon: String,
    description: String,
    action: {
      type: Function,
      default: () => console.log('Action Click')
    }
  }
}
</script>

<style scoped lang="scss">
.item {
  width: 40px;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.item:hover {
  background-color: rgba(7, 7, 7, 0.164);
}
</style>
