<template>
  <div class="navbar">
    <div class="title">
      <a 
        @click="$router.go(-1)" 
        class="back-button" 
        v-if="$route.meta.canBack">
        <ionicon name="arrow-back" size="18" color="white"/>
      </a>
      <div class="page-title">
        {{page}}
      </div>
    </div>
    <!-- Actions on the middle of navbar -->
    <div class="actions">
      <navbar-action-item 
        v-for="(item, i) in navbarActions" 
        :key="'nvbr_'+i"
        :icon="item.icon"
        :description="item.description"
        :action="item.action"/>
    </div>
    <div class="user-info">
      {{user}}
    </div>
  </div>
</template>

<script>
import navbarActionItem from './navbar-action-item.vue'

import { mapState } from 'vuex'

export default {
  name: 'navbar',

  components: {
    navbarActionItem
  },

  props: {
    page: String,
    user: String
  },

  computed: mapState({
    navbarActions: state => state.navbarActions
  })
}
</script>

<style scoped lang="scss">
.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  min-width: 100%;
  height: 50px;
  background-color: #e75353;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    display: flex;
    flex-direction: row;
    height: 100%;
    .page-title {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .actions {
    padding: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back-button {
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
      &:hover {
        background-color: rgba(44, 44, 44, 0.13);
      }
  }
}
</style>
