<template>
  <div class="sidenav">
    <div class="items">
      <menu-item v-for="(item, i) in options" :key="'mni_'+i" :icon="item.icon" :to="item.path" />
    </div>
  </div>
</template>

<script>
import menuItem from './menuItem.vue'
export default {
  name: 'sidenav',

  components: {
    menuItem
  },

  data() {
    return {
      options: [
        {
          icon: 'home',
          path: '/home'
        },
        {
          icon: 'contacts',
          path: '/sponsors'
        },
        {
          icon: 'megaphone',
          path: '/ads'
        },
        {
          icon: 'list',
          path: '/ticker'
        },
        {
          icon: "timer",
          path: '/scheduler'
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
.sidenav {
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #e75353;
  width: 60px;
  min-height: 100vh;
  .items {
    padding-top: 60px;
    width: 100%;
  }
}
</style>
